<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="NBF.Qubica.Registration" />
    <variable name="basedir" value="c:/Logs/NBF/"/>
    <targets>
      <target name="file" xsi:type="file"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
              fileName="${basedir}/${appTitle}.log"
              archiveFileName="${basedir}/Archive/${date:format=yyyy-MM-dd HH-mm-ss.fff}.${appTitle}.log"
              keepFileOpen="false" archiveAboveSize="5485760" archiveNumbering="Rolling" maxArchiveFiles="20" concurrentWrites="true" encoding="iso-8859-2"/>
    </targets>
    <rules>
      <!--Off, Trace, Debug, Info, Warn, Error, Fatal -->
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>
</configuration>