@if (Request.IsAuthenticated) {
    <li>@Html.ActionLink("Bond", "Index", "Bond")</li>
    <li>@Html.ActionLink("Bowlinghuizen", "Index", "Bowlinghuis")</li>
    <li>@Html.ActionLink("Accounts", "Index", "Account")</li>
    <li>@Html.ActionLink("Challenges", "Index", "Challenge")</li>
}
