@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Er is een onbekend probleem opgetreden.</h1>
    <h2 class="error">Tijdens de verwerking van de gegevens is er een probleem opgetreden.</h2>
</hgroup>
