@model NBF.Qubica.CMS.Models.RegisterModel
@{
    ViewBag.Title = "Registratie resultaat";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2></h2>
</hgroup>
<p>
    De registratie voor de gebruiker '@ViewBag.Name' is succesvol opgeslagen. Zodra de registratie is gevalideerd kan de de gerbuiker inloggen op het CMS.
    <input type="button" value="Ga terug" onclick="javascript: window.history.go(-1); return false;" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
