/* common styles */
body {
	background-color: #2a3281;
	margin: 0 0 0 0;
	overflow: auto;
}

input[type="text"], input[type="password"] {
	width: 205px;
	height: 26px;
	border-radius: 2pt;
	-moz-border-radius: 2pt;
	-webkit-border-radius: 2pt;
	border: 1pt solid white;
}

input[type="submit"], input[type="button"] {
	font-family: "Fugaz One", Helvetica, Arial;
	font-size: 12pt;
	color: #fecc00;
	text-shadow: -1px 0 #af1a1c, 0 1px #af1a1c, 1px 0 #af1a1c, 0 -1px #af1a1c;
	cursor: pointer;
	height: 26px;
	background-color: #bd632b;
	border-radius: 2pt;
	-moz-border-radius: 2pt;
	-webkit-border-radius: 2pt;
	border: 1pt solid white;
	letter-spacing:1px;
}

.righttext {
	text-align: right;
}

/* styles for inloggen - registreren - wachtwoord resetten en bevestigen */
#nbflogo {
	position: absolute;
	bottom: 5%;
	left: 5%;
}

#content {
	top:0; 
	bottom:0; 
	left:0; 
	right:0;
	margin:auto; 
	height:556px; 
	width:80%;
}

#contentfixed {
	position:relative; 
	top: 50px;
}

.title {
	font-family:"Fugaz One", Helvetica, Arial;
	color: #feef39;
	font-size: 48px;
	padding-bottom: 10px;
	letter-spacing: 1px;
    text-align: center;
}

#inputarea {
	width: 450px;
	font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
}

#inputarea table tr td label, td p {
	font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	color: white;
	padding: 0 10px 0 0;
}

#smalllabel   { color: #fff; font-size:11px}
#smalllink, a { color: #feef39; font-size:11px}
a:link { text-decoration: none; font-style: italic }
a:active { text-decoration: none; font-style: italic }
a:visited { text-decoration: none; font-style: italic }


/* dashboard styles */
#dashboard {
	width: 100%;
	height: 600px;
}

#background {
	background-image:url('/images/achtergrondfoto.jpg');
	background-size: 100%;
	height: 100%;
	padding: 0px;
}

#welkom {
	font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	color: white;
	margin: 10px 15px 0 15px;
	height: 30px;
}

#dashboardtitle {
	position: relative;
	top:20px;
	text-align: center;
	background-image: url('kies.png');
	background-repeat: no-repeat;
	padding-top: 5px;
	height: 30px;
	font-family: "Fugaz One", Helvetica, Arial;
	font-size: 21pt;
	color: white;
	text-shadow: -1px 0 #af1a1c, 0 1px #af1a1c, 1px 0 #af1a1c, 0 -1px #af1a1c;
}

#welkomnaam {
	font-family: Helvetica, Arial;
	font-size: 16pt;
	color: #FFFFFF;
}

#logout {
	float: right;
	margin: -27px 0 0 0;
}

#dashboardmenu, #dashboardcontent {
	background-color: #1286ca;
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3pt;
	-moz-border-radius: 3pt;
	-webkit-border-radius: 3pt;
	border: 2pt solid white;
}

#dashboardmenu table tr td {
	font-family: "Fugaz One", Helvetica, Arial;
	font-size: 14pt;
	color: #f1cb0c;
	text-shadow: -1px 0 #af1a1c, 0 1px #af1a1c, 1px 0 #af1a1c, 0 -1px #af1a1c;
	cursor: pointer;
	text-align: center;
	white-space:nowrap;
	padding: 0 10px 0 0;
	letter-spacing:1px;
    width: 100%;
}

#spacer {
	height: 30px;
}

#dashboardcontent table tr td, #dashboardcontent table tr th {
	font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	color: white;
}

#innertable th {
	text-align: left;
}

#innertable td {
	cell-padding: 0;
}

#dashboardcontent table tr td {
	font-size: 11px;
	padding: 0 10px 0 10px;
	text-align: justify;
}

#dashboardcontent table tr th {
	font-size: 18px;
	padding: 0 10px 0 10px;
}

td p {
	text-align: justify;
}

#challenge {
	background-color: #6bb630;
	font-family: "Fugaz One", Helvetica, Arial;
	font-size: 21pt;
	color: #f1cb0c;
	text-shadow: -1px 0 #af1a1c, 0 1px #af1a1c, 1px 0 #af1a1c, 0 -1px #af1a1c;
	cursor: pointer;	
	width: 465px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3pt;
	-moz-border-radius: 3pt;
	-webkit-border-radius: 3pt;
	border: 2pt solid white;
	letter-spacing:1px;	
}

#challenge div {
	margin-left: 10px;
}

#challenge div div {
	float:right; 
	position: relative;
	top: -10px;
	left: 10px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-size:12px;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 12px;
}
