<?xml version="1.0"?>
<configuration>
    <appSettings>
      <!-- database properties -->
      <add key="SERVER" value="localhost"/>
      <add key="DATABASE" value="nbf"/>
      <add key="UID" value="root"/>
      <add key="PASSWORD" value="bvTlN+7ZdO95RUStr2YikQ=="/>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="URL" value="http://localhost:49871/"/>
      <add key="MAILSERVER" value="smtp.ziggo.nl"/>
      <add key="MAILUSER" value="t.dvries@chello.nl"/>
      <add key="MAILPASSWORD" value="+w+tUUQ+ob0="/>
      <add key="NBFMAIL" value="t.dvries@chello.nl" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
