@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Content Management Systeem voor het NBF Qubica Interface.
    </p>
    <p> Versie: @ViewBag.Version</p>
</article>

<aside>
    <h3>Organisatie</h3>
    <p>
        Nederlandse Bowling Federatie.<br/>
        Postadres:<br />
        Postbus 326<br />
        3900 AH&nbsp;&nbsp;VEENENDAAL<br /><br />
        Bezoekadres:<br />
        Landjuweel 62<br />
        3905 PH&nbsp;&nbsp;VEENENDAAL<br /><br />
        Telefoon: 0318-559343<br />
        Fax: 0318-559349<br />
    </p>
</aside>