@{
    ViewBag.Title = "Home Pagina";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Content Management Systeem NBF Qubica.
            </p>
        </div>
    </section>
}
@section image {
    <div id="image">
        <img src="Images/cms-image.jpg" />
    </div>
}